USE [master]
GO
/****** Object:  Database [FairManagementDB]    Script Date: 5/28/2015 11:10:10 AM ******/
CREATE DATABASE [FairManagementDB]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'FairManagementDB', FILENAME = N'E:\BASIS_SEIP .NET training\28.05.2015(24 Day)\BASIS-SEIP Project\BASIS-SEIP Project\Indivisual Project\FairManagementApp\DB\FairManagementDB.mdf' , SIZE = 3072KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'FairManagementDB_log', FILENAME = N'E:\BASIS_SEIP .NET training\28.05.2015(24 Day)\BASIS-SEIP Project\BASIS-SEIP Project\Indivisual Project\FairManagementApp\DB\FairManagementDB_log.ldf' , SIZE = 1024KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [FairManagementDB].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [FairManagementDB]
GO
/****** Object:  Table [dbo].[tbl_visitor]    Script Date: 5/28/2015 11:10:10 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[tbl_visitor](
	[visitor_id] [int] IDENTITY(1,1) NOT NULL,
	[visitor_name] [varchar](100) NULL,
	[visitor_email] [varchar](50) NULL,
	[visitor_contactNo] [varchar](50) NULL,
	[visitor_zoneId] [varchar](50) NULL,
 CONSTRAINT [PK_tbl_visitor] PRIMARY KEY CLUSTERED 
(
	[visitor_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[tbl_zone]    Script Date: 5/28/2015 11:10:10 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[tbl_zone](
	[zone_id] [int] IDENTITY(1,1) NOT NULL,
	[zone_code] [varchar](50) NULL,
	[zone_name] [varchar](50) NULL,
 CONSTRAINT [PK_tbl_zone] PRIMARY KEY CLUSTERED 
(
	[zone_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
SET IDENTITY_INSERT [dbo].[tbl_visitor] ON 

INSERT [dbo].[tbl_visitor] ([visitor_id], [visitor_name], [visitor_email], [visitor_contactNo], [visitor_zoneId]) VALUES (3, N'Milon', N'milon9152@gmail.com', N'01812362303', N'1,3,5,')
INSERT [dbo].[tbl_visitor] ([visitor_id], [visitor_name], [visitor_email], [visitor_contactNo], [visitor_zoneId]) VALUES (4, N'Faruk', N'faruk@gmail.com', N'01812362303', N'1,2,4,')
INSERT [dbo].[tbl_visitor] ([visitor_id], [visitor_name], [visitor_email], [visitor_contactNo], [visitor_zoneId]) VALUES (5, N'Monir', N'monir@gmail.com', N'01676457450', N'1,2,3,')
SET IDENTITY_INSERT [dbo].[tbl_visitor] OFF
SET IDENTITY_INSERT [dbo].[tbl_zone] ON 

INSERT [dbo].[tbl_zone] ([zone_id], [zone_code], [zone_name]) VALUES (1, N'1001', N'Enterprise Application Zone')
INSERT [dbo].[tbl_zone] ([zone_id], [zone_code], [zone_name]) VALUES (2, N'1002', N'Mobile Application Zone')
INSERT [dbo].[tbl_zone] ([zone_id], [zone_code], [zone_name]) VALUES (3, N'1003', N'Game & Multimedia Zone')
SET IDENTITY_INSERT [dbo].[tbl_zone] OFF
SET ANSI_PADDING ON

GO
/****** Object:  Index [IX_tbl_visitor]    Script Date: 5/28/2015 11:10:10 AM ******/
CREATE UNIQUE NONCLUSTERED INDEX [IX_tbl_visitor] ON [dbo].[tbl_visitor]
(
	[visitor_email] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON

GO
/****** Object:  Index [IX_tbl_zone]    Script Date: 5/28/2015 11:10:10 AM ******/
CREATE UNIQUE NONCLUSTERED INDEX [IX_tbl_zone] ON [dbo].[tbl_zone]
(
	[zone_code] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON

GO
/****** Object:  Index [IX_tbl_zone_1]    Script Date: 5/28/2015 11:10:10 AM ******/
CREATE UNIQUE NONCLUSTERED INDEX [IX_tbl_zone_1] ON [dbo].[tbl_zone]
(
	[zone_name] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
USE [master]
GO
